<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellofriendz.jeanpaulportifolioapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JeanPaulPortifolioApp">
        <activity android:name=".SkillsActivity"
            android:parentActivityName=".SecondMainActivity"
            android:label="Jean Paul Skills"></activity>
        <activity
            android:name=".GalleryActivity"
            android:label="Jean Paul Gallery"
            android:parentActivityName=".SecondMainActivity" />
        <activity
            android:name=".SecondMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>